
body {
    background-color: #ffe4f3;
    font-family: "times new roman", monospace; 
    text-align: center; 
}


h1 {
    color: #f85fcd;
    font-size: 2.2rem; 
    margin-top: 30px; 
    text-shadow: 0 2px 10px #f9a8e0; 
}


h2 {
    color: #f85fcd;              
    font-size: 1.2rem;            
    letter-spacing: 3px;         
    margin-top: 6px;              
}


h3 {
    color: #ff66bd;               
    margin-top: 18px;             
    margin-bottom: 10px;          
}


img {
    width: 250px;                 
    border: 2px solid #e42698;    
    border-radius: 10px;          
    margin: 15px;    
} 

ul { 
     list-style: none;             
    padding: 0;                   
    display: flex;                
    justify-content: center;      
    flex-wrap: wrap;              
    gap: 12px;                    
} 

li {
    background-color: #c2185b;    
    padding: 10px 20px;           
    border-radius: 50px;         
    color: #ffffff;              
    font-weight: bold;            
}


a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #e44d26;
    color: white;
    text-decoration: none; 
    border-radius: 5px;
}

a:hover {
    background-color: #ff6a3d;
} 
